<link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap" rel="stylesheet">
<app-navbar ></app-navbar>
<div class="container-fluid">
  <div class='landing'>
  
  <h1>GitHubGo</h1>
  
  <p class="lead text-center">An app that lets you explore Github easily!</p>
  <br>
  <div class="row">
    <div class="col-md-12">
      
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Search Github..."[(ngModel)]="username" name="username"
            (keyup)="findProfile()">
          </div>
          <button class="btn btn-danger btn-sm" (click)="findProfile()"><a href="#profile"> Search </a></button>
        </form>
        <br>
        
        
              <p>Created by: </p>
        <p><a href="https://github.com/joannekoye"> Joan Nekoye <small>(@joannekoye)</small></a></p>
        <a href="https://github.com/joannekoye?tab=repositories"><img src="https://avatars0.githubusercontent.com/u/60555977?s=460&u=db8c7f573b4bba03435e9ab1c3b107e34ed98ab8&v=4" width="100" height="100"><br>
      
        View My Repositories</a>
            </div>
            
              <div class="social">
                <a href="https://web.facebook.com/nekoyejoan"><img src="https://getdrawings.com/free-icon-bw/white-facebook-icon-transparent-background-19.png" width="40" height="40"></a>
              </div>
              <div>
                <a href="mailto:joannekoye@gmail.com"><img src="https://i.ya-webdesign.com/images/email-icon-white-png-5.png" width="50" height="50"></a>
              </div>
              
        <br>
        <br>
        <br>
        <br>
        
        
        
    
  </div>
  </div>
  <div class="profilebody" id="profile">
    <div *ngIf='userInfo'class="card card-edit">
      <div class="card-header">
        <h3 appHighlight>{{userInfo?.login}}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
            <div class = "card-body">
              <img src="{{userInfo?.avatar_url}}" width="200" height="200"  alt="Profile Picture">
            </div>
            <div class="card-footer">
              <span>Followers: {{userInfo?.followers}}   Following: {{userInfo?.following}}</span><br><br>
              <span>Date Created: {{userInfo?.created_at|date }}</span><br><br>
              <span>Bio: {{userInfo?.bio}}</span>
            </div>
          </div>
          </div>
          <div class="col-md-6 scroll">
            <div class="card">
              <div class="card-header">
                <h3>Repositories</h3>
              </div>
              <div class="card-body" *ngFor="let repo of repoInfo">
                <p>
                  <a href="{{repo.html_url}}">{{repo.name}}</a>
                </p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div> 
 


