.container-fluid{
  background-image: url(https://hackernoon.com/hn-images/1*wzEf4qVNT7mUeMIeQWTJbg.jpeg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  font-family: 'Ubuntu Mono', monospace;
  color: black;
  font-size: 600%;
}
p{
  font-family: 'Ubuntu', sans-serif;
}
.col-md-12{
  padding-left: 30%;
  padding-right: 30%;
}