<link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap" rel="stylesheet">
<app-navbar ></app-navbar>
<div class="profileBody">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>GitHubGo</h1>
  <br>
  <p>Is an API powered Application that allows users to search for github profiles and respective repositories, without the setback of creating a github account first.</p>
  <br><br>
  <p>Just click on the Home button and search away!</p>
  <br>
  <br>
  <br>
  
</div>